# Archives
*.tar
*.zip

# Python temporary files
__pycache__/
*.pyc

# Editor temp files and Emacs autosaves
*~
\#*#

# Output directories
*_output/

# OS/Env specific (Safer than using .*)
.DS_Store
.env